<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post" class="button">+ Add New</a>
</div>

<ul class="admin-posts">
    <% data.forEach(post => { %> <!-- Loop through all posts -->
        <li>
            <!-- Link to individual post -->
            <a href="/post/<%= post._id %>"><%= post.title %> &nearr;</a>

            <div class="admin-post-controls">
                <!-- Edit button -->
                <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>

                <!-- Delete form -->
                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn">
                </form>
            </div>
        </li>
    <% }) %>
</ul>

<%- include('../partials/pagination', { 
    current,
    nextPage,
    previousPage,
    currentRoute
  }) %>
  
