<div class="author">
    <h1 class="author_heading">Blogs ⋆｡°✩</h1>
    <p class="author_body">─── ⋆⋅☆⋅⋆ ──Below are blogs─── ⋆⋅☆⋅⋆ ──</p>
</div>

<img src="/img/panda-on-comp.png"  alt="Panda on computer" class="panda-image" width="50" height="50">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>


    <div class="pagination-wrapper">
      <div class="pagination-left">
      <% if (nextPage !== null) { %>
        <!-- Older posts -->
          <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
        <% } %>
       </div>


    <div class="pagination-right">
    <% if (previousPage !== null) { %>
      <!-- Newer posts -->
      <a href="/?page=<%= previousPage %>" class="pagination">View Newer Posts &gt;</a>
  <% } %>
    </div>

    
  </section>